body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: burlywood;
}

.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  width: 60vw;
  height: 60vw;
  max-width: 60vh;
  max-height: 60vh;
  aspect-ratio: 1 / 1;
  background-image: url('./wood.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#winner {
  font-size: 2.5rem;
  margin-bottom: 24px;
  text-align: center;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  color: #fff;
}

.cell:focus {
  outline: none;
  box-shadow: none;
}

/* Remove top border for first row */
.tic-tac-toe .cell:nth-child(-n+3) {
  border-top: none;
}
/* Remove left border for first column */
.tic-tac-toe .cell:nth-child(3n+1) {
  border-left: none;
}
/* Remove right border for last column */
.tic-tac-toe .cell:nth-child(3n) {
  border-right: none;
}
/* Remove bottom border for last row */
.tic-tac-toe .cell:nth-child(n+7) {
  border-bottom: none;
}